.container {
  width: 100%;
  height: 100%;
}

mat-grid-tile {
  background: white;
  height: 100%;
}

.menu {
  background: gray;
  height: 20%;
}

.spacer {
  flex: 1 1 auto;
}

.side-nav {
  background: rgba(0, 0, 0, 0.79);
  width: 15%;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.68);
}

.recent {
  color: rgba(255, 255, 255, 0.68);
  margin-left: 20px;
}

.sidenav-buttons {
  color: rgba(255, 255, 255, 0.68);
}

.sidenav-toolbar {
  height: 8%;
  background: rgba(0, 0, 0, 0);
}

.file {
  color: rgba(255, 255, 255, 0.68);
  font-weight: 1;
  font-size: 20px;
}

mat-list {
  margin-left: 20px;
}

h2{
  margin-left: 20px;
  margin-top: 15px;
}

