<div class="color-picker">
  <div class="summary-info" (click)="toggleColors()">
    <div class="info">
      <p class="style">{{ heading }}</p>
    </div>
    <div class="hex-code">
      <p>Klicke auf die Farbe für die Kopie der Syntax.</p>
      <p>&lt;font color='Hexcode'&gt;Hier steht dein Text in Farbe.&lt;/font&gt;</p>
      <div class="g-input">
        <input readonly type="text" maxlenght="7" [value]="color" (keyup)="changeColorManual(paintInput.value)"
          (keydown.enter)="toggleColors()" #paintInput />
      </div>
      <div (click)="changeColor(paint)" *ngFor="let paint of defaultColors" class="circle"
        [ngStyle]="{'background': paint}">
      </div>
    </div>
  </div>
</div>